@font-face {
   font-family: myFirstFont;
   src: url(title.ttf);
}

body {
background-image: url("images/skyline.jpg");
    background-attachment: fixed;
	background-repeat: repeat;
	position: static;
	align-content: center;

	background-size: cover;
}

div.links {
	float: left;
	width: 100%;
	height: 5%;
	text-align: center;
	padding-top: 10px;
	position: fixed;
}


div.widecontainer {
	float: right;
	width: 100%;
	height: 100%;
	padding-top: 5%;
	/*align-items: center;
	align-content: center;*/
}


div.multiplepages {
	width: 1030px;
	height: 600px;
	margin:auto;
	text-align: center;
}

div.titlepage {
	background-image: url("images/pic.jpg");
	background-size:cover;

	width: 510px;
	height: 600px;
	margin: auto;
	text-align: center;
	/*top: 50%;*/
	/*bottom: 50%;*/
	overflow-y: auto;
	float: left;
}

div.iconbox {
	width: 510px;
	height: 175px;
	margin-top: 2px;
}

img.icon {
	margin-top: 0px;
}

div.title {
	padding-top: 0px;
	width: 510px;
	height: 35px;
	margin-bottom: 5px;
}



p.HelloWorld {
	font-family: myFirstFont;
	font-size: 30px;
}



div.intro {

	color: black;
	text-align: center;
}

div.logo {
	text-align: center;
	margin-bottom: 0px;
}

div.socialmedia {
	float: right;
	width: 510px;
	height: 35px;
	text-align: center;
	padding-top: 0px;
}

div.secondpage {
	background-image: url("images/picabout.jpg");
	width: 510px;
	height: 600px;
	float: right;
	overflow-y: auto;
	text-align: left;
	display: inline-block;
}

div.text {
	padding-left: 15px;
}


