@font-face {
    font-family: "myFirstFont";
    src: url(title.ttf);
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    background-image: url("images/skyline.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	position: static;
	align-content: center;
}

div.links {
	float: left;
	width: 100%;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	position: fixed;
}

div.widecontainer {
	float: right;
	width: 100%;
	height: 80%;
	padding-top: 60px;
	align-items: center;
}

div.titlepage {
	background-image: url("images/pic.jpg");
	width: 510px;
	height: 600px;
	margin: auto;
	text-align: center;
}

img.icon {
	padding-top: 15px;	
}

div.intro {
	color: black;
	text-align: center;
	
}

div.logo {
	text-align: center;
	top: 100%;
	padding-top: 0px;
}

div.socialmedia {
	float: right;
	width: 510px;
	height: 35px;
	text-align: center;
	padding-top: 0px;
}

a.linkedin {
	padding-right: 25px;
}

a.instagram {
	padding-left: 25px;
}
