@font-face {
   font-family: myFirstFont;
   src: url(title.ttf);
}

@font-face {
   font-family: resumefont;
   src: url(fontz.ttf);
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    background-image: url("images/skyline.jpg");
    background-attachment: fixed;
	background-repeat: repeat;
	position: static;
	align-content: center;
	background-size: cover;
}

div.links {
	float: left;
	width: 100%;
	height: 5%;
	text-align: center;
	padding-top: 10px;
	position: fixed;
}

div.widecontainer {
	float: right;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	text-align: center;

}

div.titlepage {
	
	background-image: url("images/pic.jpg");
	background-size:cover;
	width: 90%;
	height: 90%;
	margin: auto;
	text-align: center;
	overflow-y: auto;
	margin-bottom: 15px;
}

div.iconbox {
	width: 100%;
	height: 175px;
	text-align: center;
	
}



div.title {
	width: 100%;
	height: 35px;
	text-align: center;
}


p.HelloWorld {
	font-family: myFirstFont;
	font-size: 50px;
}


div.intro {
	color: black;
	text-align: center;
	font-family: resumefont;
	font-size: 25px;
}

div.logo {
	text-align: center;
	margin-bottom: 0px;
}


div.secondpage {
	background-image: url("images/picabout.jpg");
		background-size:cover;
	width: 90%;
	height: 1210px;
	margin: auto;
	margin-bottom: 30px;
	overflow-y: auto;
}


div.text {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}

p.subject {
	font-family: myFirstFont;
	font-size: 35px;
}

li {
	font-family: resumefont;
    margin-bottom: 25px;
}

dt.details {
	font-size: 28px;
}

div.border {	
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 7px;
	border-style: solid;
    border-width: 1px;
}

div.social {
	text-align: center;
}